<% if(locals.flashErrors && locals.flashErrors.length > 0){ %>
        <div class="card-panel red darken-1">
                <h5>Erreur</h5>
                <ul class="collection">
                <% flashErrors.forEach((element) => { %>
                                <li class="collection-item"><%= element %></li>
                <% }); %>
                </ul>
        </div>
        <% } %>

        <% if(locals.flashSuccess && locals.flashSuccess.length > 0){ %>
        <div class="card-panel green">
                    <h5>Succès</h5>
                    <% flashSuccess.forEach((element) => { %>
                                    <%= element %>
                    <% }); %>
            </div>
        
        <% } %>
