<% if(locals.flashErrors){ %>
        <div class="card-panel red darken-1">
                <h5>Erreur</h5>
                <% flashErrors.forEach((element) => { %>
                                <%= element %>
                <% }); %>
        </div>
        <% } %>

        <% if(locals.errors){ %>
        <div class="card-panel red darken-1">
                <h4>Erreur</h4>
            <div class="ui middle aligned divided list">
                <% errors.forEach((error) => { %>
                    <div class="item">
                            <div class="content">
                                <%= error %>
                            </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        <% } %>

        <% if(locals.flashSuccess){ %>
        <div class="card-panel green">
                    <h5>Succès</h5>
                    <% flashSuccess.forEach((element) => { %>
                                    <%= element %>
                    <% }); %>
            </div>
        
        <% } %>
