 <div class="ui fixed inverted pointing menu">
        <a href="/" class="header item">Accueil</a>
        <% if(!locals.cookieSession){ %>
            <a class="ui item">
            
            </a>
        <% } %>

        </div>
    </div>