        <div class="ui secondary pointing menu">
            <a href="/" class="item">
            Acceuil
            </a>
            <a href="/posts"class="item ">
            En ce moment
            </a>
        <% if(locals.authToken){ %>
            <div class="right menu">
                <div class="ui dropdown item">
                    Mon Compte <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">Mon compte</a>
                                <% if(locals.profil === "admin"){ %>
                                    <a href="/administration" class="item">Administration</a>
                                <% } %>
                        <a href="/login/logout"class="item">Se déconnecter</a>
                    </div>
                </div>
            </div>
        <% }else{ %>
            <div class="right menu">
                <a href="/login" class="ui item">
                Login
                </a>
            </div>
        <% } %>
        </div>