<div id="navbar_scroll" class="navbar-fixed">
        <nav id="navbar_scroll_child" class="nav-extend transparent z-depth-0">
        <div class="nav-wrapper">
                <a href="/" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse icon_menu"><i class="material-icons">menu</i></a>
                <ul class="color_ul_large right hide-on-med-and-down">

                <li><a href="/posts">En ce moment</a></li>
                <% if(locals.authToken){ %>
                        <li><a href="#">Mon Compte</a></li>
                <% if(locals.profil === "admin"){ %>
                        <li><a href="/administration">Administration</a></li>
                <% } %>
                        <li><a href="/login/logout">Se déconnecter</a></li>
                <% }else{ %>
                        <li><a href="/login">Se connecter</a></li>
                <% } %>

                </ul>
                <ul class="side-nav" id="mobile-demo">

                <li><a href="/posts">En ce moment</a></li>
                <% if(locals.authToken){ %>
                        <li><a href="#">Mon Compte</a></li>
                <% if(locals.profil === "admin"){ %>
                        <li><a href="/administration">Administration</a></li>
                <% } %>
                        <li><a href="/login/logout">Se déconnecter</a></li>
                <% }else{ %>
                        <li><a href="/login">Se connecter</a></li>
                <% } %>

                </ul>
        </div>
        </nav>
</div>