<form action="/login" method="post" class="ui form">
    <div class="field">
        <h3>Connectez-vous</h3>

        <label for="message"> E-mail </label>
        <input name="username" id="username" type="email"></input>

        <label for="message"> Mot de passe </label>
        <input name="password" id="password" type="password"></input>
        
        <a href="/register">Créer un compte</a>
    </div>

    <button type="submit" class="ui blue labeled submit icon button" >
        <i class="icon edit"></i>Envoyer
    </button>

</form>