<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/res/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/style_navbar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <title>SCA assurances</title>
    <style>
    .main.container{
        margin-top: 7em;
    }
    </style>
</head>
<body>
    
    <% include ../../../partials/menus/_menu_home %>

<div class="heading">
    <% include ../../../partials/messages/_flash_message %>
    <div class="row valign-wrapper no-valign-wrapper-on-mobile">
        <div class="col 15 valign heading-text">
            <div class="container-wide">
                <h3>Demander un devis gratuit</h3>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                <a class="waves-effect waves-light btn btn-devis">
                    <i class="material-icons right">more</i>
                    Allons-y
                </a>
            </div>
        </div>
        <div class="col 17 no-right-padding valign heading-img-col">
            <img class="heading-img responsive-img" src="/img/home/banner_1.jpeg">
        </div>
    </div>
</div>
<div class="container-main">
    <div class="container-fluid">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item red white-text" href="#one!">
                <div class="image">
                    <img src="/img/home/banner_1.jpeg" alt="">
                    <div class="content-carousel">
                        <h4>Cette semaine réduciton sur les contrats santé!</h4>
                        <p>This is your first panel</p>

                        <a class="waves-effect waves-light btn btn-devis">
                            <i class="material-icons right">more_horiz</i>
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <div class="image">
                    <img src="/img/home/banner_1.jpeg" alt="">
                    <div class="content-carousel">
                        <h4>Cette semaine réduciton sur les contrats santé!</h4>
                        <p>This is your first panel</p>

                        <a class="waves-effect waves-light btn btn-devis">
                            <i class="material-icons right">more_horiz</i>
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <div class="image">
                    <img src="/img/home/banner_1.jpeg" alt="">
                    <div class="content-carousel">
                        <h4>Cette semaine réduciton sur les contrats santé!</h4>
                        <p>This is your first panel</p>

                        <a class="waves-effect waves-light btn btn-devis">
                            <i class="material-icons right">more_horiz</i>
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <div class="image">
                    <img src="/img/home/banner_1.jpeg" alt="">
                    <div class="content-carousel">
                        <h4>Cette semaine réduciton sur les contrats santé!</h4>
                        <p>This is your first panel</p>

                        <a class="waves-effect waves-light btn btn-devis">
                            <i class="material-icons right">more_horiz</i>
                            Plus d'informations
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-citation grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="/img/home/photo-directeur.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <div class="citation-dir">
                            "This is a square image. Add the "circle" class to it to make it appear circular."
                        </div>
                        <div class="citation-author">
                        Directeur de SCA Assurances - M MAGNANT DIDIER
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container-fluid container-devis">
        <div class="container">
            <div class="row">
                    <div class="icon-for-down">
                        <i class="material-icons">arrow_drop_down</i>
                    </div>
                <div class="col 16 valign-wrapper">
                    <div class="list-devis border-right">
                        <div class="card-list-devis">
                            <i class="medium material-icons">directions_car</i>
                            <h3 class="black-text">
                                AUTOMOBILE
                            </h3>
                            <div class="description">
                                It's always easier to start with something. We make sure that the themes we provide are fresh, rare, responsive and made with with incredible quality.
                            </div>
                        </div>

                        <div class="card-list-devis">
                            <i class="medium material-icons">healing</i>
                            <h3 class="black-text">
                                SANTE
                            </h3>
                            <div class="description">
                                It's always easier to start with something. We make sure that the themes we provide are fresh, rare, responsive and made with with incredible quality.
                            </div>
                        </div>

                        <div class="card-list-devis">
                            <i class="medium material-icons">home</i>
                            <h3 class="black-text">
                                HABITATION
                            </h3>
                            <div class="description">
                                It's always easier to start with something. We make sure that the themes we provide are fresh, rare, responsive and made with with incredible quality.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="icon-for-down-valid">
                <i class="material-icons">done</i>
            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <% include ../../../partials/footers/_footer %>

    <!-- Scripts -->
        <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/assets/js/script_navbar_home.js"></script>

        <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/assets/js/home.script.js"></script>

    </body>

</html>