<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/res/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/list-devis.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <title>SCA assurances</title>
</head>
<body>

        <% include ../../../partials/menus/_menu %> 

<div class="main-container">

        <% include ../../../partials/messages/_flash_message %>
        <div class="container list-devis">
                <div class="row">
                        <div class="col m6 s12">
                                <div class="image second-effect">
                                        <img src="/img/home/banner_1.jpeg"/>
                
                                        <h2><span>DEMANDE DE DEVIS<span class='spacer'></span><br /><span class='spacer'></span>Contrat santée</span></h2>
                                        <div class="mask"></div>
                                </div>
                        </div>
                        <div class="col m6 s12">
                                <div class="image second-effect">

                                        <img src="/img/home/banner_1.jpeg"/>
                
                                        <h2><span>DEMANDE DE DEVIS<span class='spacer'></span><br /><span class='spacer'></span>Contrat Habitation</span></h2>
                                        <div class="mask">
                                        </div>
                                </div>
                        </div>
                </div>


                <div class="row">
                        <div class="col m6 s12">
                                <div class="image second-effect">

                                        <img src="/img/home/banner_1.jpeg"/>
                
                                        <h2><span>DEMANDE DE DEVIS<span class='spacer'></span><br /><span class='spacer'></span>Contrat santée</span></h2>
                                        <div class="mask">
                                        </div>
                                </div>
                        </div>
                        <div class="col m6 s12">
                                <div class="image second-effect">

                                        <img src="/img/home/banner_1.jpeg"/>
                
                                        <h2><span>DEMANDE DE DEVIS<span class='spacer'></span><br /><span class='spacer'></span>Contrat Habitation</span></h2>
                                        <div class="mask">
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

    </div>

</div>

<!-- Footer -->
<% include ../../../partials/footers/_footer %>

<!-- Script -->
        <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/assets/js/list-devis.js"></script>
        
    </body>

</html>