<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/res/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <title>SCA assurances</title>
</head>
<body>
        <% include ../../../partials/menus/_menu %> 
        <% include ../../../partials/messages/_flash_message %>
<div class="container">
<% if(locals.posts && locals.posts.length > 0){ %>
    <div class="row">
        <% posts.forEach(function(post) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <% if(post.images && post.images.length > 0){ %>

                                  <div class="carousel carousel-slider center" data-indicators="true">
                            <% post.images.forEach(function(image){ %>
                                        <div class="carousel-item red white-text">
                                            <img class="activator center_img" src="<%= image.path %>">
                                        </div>
                            <% }); %>


                                    </div>
                        <% }else{ %>
                                <p>Pas d'image</p>
                        <% } %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Plus d'infos<i class="material-icons right">more_vert</i></span>
                        <p><a href="#"></a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p><%= post.post.message %></p>
                    </div>
                </div>
            </div>
        <% }); %>        
    </div>
<% } %>
</div>
<% include ../../../partials/footers/_footer %>


<!-- Script -->
  <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="/assets/js/posts.script.js"></script>
  <script type="text/javascript" src="/assets/js/app.script.js"></script>
</body>

</html>