.main-container{
    padding-top: 7em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    background-color: #A1A7AF;
  }

  main {
    flex: 1 0 auto;
  }

footer{
    padding: 50px 0;
    background-color: #23334B;
    color: white;
}


.register-box {
    height: 100%;
}

.switch-zone{
  padding-bottom: 30px;
}

.conducteur-item{
    background: #cfd8dc;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.close-conducteur-item{
    cursor: pointer;
    float:right;
}