
.video-container {
    height: 600px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
  }
  .video-container img {
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    height: 600px;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
  }
  .video-container * {
    box-sizing: border-box;
  }
  .video-container .card_video_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  


