<% if(locals.flashErrors && locals.flashErrors.length > 0){ %>

<div class="card_view row">
        <div class="col s12 m12 l12">
                <div class="card red darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">Erreur</span>
                                <ul>
                                <% flashErrors.forEach((element) => { %>
                                                <li class="collection-item"><%= element %></li>
                                <% }); %>
                                </ul>
                        </div>
                </div>
        </div>
</div>
        <% } %>

<% if(locals.flashSuccess && locals.flashSuccess.length > 0){ %>

<div class="card_view row">
        <div class="col s12 m12 l12">
                <div class="card green">
                        <div class="card-content white-text">
                                <span class="card-title">Succès</span>
                                <ul>
                                <% flashSuccess.forEach((element) => { %>
                                                <li> <%= element %> </li>
                                <% }); %>
                                </ul>
                        </div>
                </div>
        </div>
</div>
<% } %>
