<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/res/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/posts-admin.css">
    <link rel="stylesheet" href="/assets/css/menu-admin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <title>Administration - SCA assurances</title>
</head>
<body>

        <% include ../../../partials/menus/_menu_admin %> 
        
        <div class="main-container">
            <% include ../../../partials/messages/_flash_message %>
            <% include ../../formulaires/admin/formulaire_post %>
        </div>

        <script src="/assets/js/script.image.js"></script>
        <!-- Scripts -->
        <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/assets/js/menu-admin.script.js"></script>
</body>
</html>