<% include ../../../partials/admin/_header %>
{
    "_id" : ObjectId("5a782898b5c2460fb4b3c6a3"),
    "username" : "test@coucou",
    "password" : "$2a$10$zhYT0Bfh8idvUtrzEybb8.5kbebJr5QxTRvDMHQrYWVP7y502I2ni",
    "civilite" : "Mme",
    "last_name" : "mon",
    "first_name" : "Valentin",
    "tel" : "06 09 78 80 48",
    "num_street" : 29,
    "name_street" : "ADressee",
    "more_street" : "cocuocu",
    "code" : "21000",
    "city" : "DIJON",
    "home_type" : "Appartement",
    "situation_fam" : "Marié",
    "situation_pro" : "Salarié",
    "date_naissance" : ISODate("2018-02-22T00:00:00.000+01:00"),
    "profil" : "prospect",
    "__v" : 0
}

 <table class="highlight">
    <thead>
        <tr>
            <th>Civilité</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-mail</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Complément</th>
            <th>code Postal</th>
            <th>Ville</th>
            <th>Profil</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Civilité</td>
            <td>Nom</td>
            <td>Prénom</td>
            <td>E-mail</td>
            <td>Téléphone</td>
            <td>Adresse</td>
            <td>Complément</td>
            <td>code Postal</td>
            <td>Ville</td>
            <td>Profil</td>
        </tr>
    </tbody>
</table>
<% include ../../../partials/admin/_footer %>