<form action="/login" method="post" class="ui form">
    <div class="field">
        <h3>Connectez-vous</h3>

        <div class="input-field">
            <input name="username" id="username" type="email" class="validate"></input>
            <label for="message"> E-mail </label>
        </div>

        <div class="input-field">
            
            <input name="password" id="password" type="password" class="validate"></input>
            <label for="message"> Mot de passe </label>
        </div>
        <a href="/register">Créer un compte</a>
    </div>

    <button type="submit" class="btn waves-effect waves-light" name="action">Envoyer
        <i class="material-icons right">send</i>
    </button>
</form>