<div class="ui stackable menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a href="/administration/post" class="item">Les Posts</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>

   <div class="right menu">
                <a href="/" class="ui item">
                Retour au site web
                </a>
            </div>
</div>