<nav class="teal lighten-1">
    <div class="nav-wrapper">
            <a href="/administration" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        
            <li><a href="/administration/post">Gestionnaire des posts</a></li>
            <li><a href="/administration/users">Gestion des utilisateur</a></li>
            <li><a href="/login/logout">Se déconnecter</a></li>
            <li class="teal lighten-1"><a href="/">Retour au site web</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">

            <li><a href="/administration/post">Gestionnaire des posts</a></li>
            <li><a href="/administration/users">Gestion des utilisateur</a></li>
            <li><a href="/login/logout">Se déconnecter</a></li>
            <li class="teal lighten-1"><a href="/">Retour au site web</a></li>

        </ul>
    </div>
</nav>